<config>
    <server>
        <port>6000</port>
        <website_port>8080</website_port>
        <ip>127.0.0.1</ip>
        <number_of_players>4</number_of_players>
    </server>
    <rules>
        <rule roundNumber="1" points="-20"/>
        <rule roundNumber="2" points="-20" color="hearts" regardsEveryCard="true"/>
        <rule roundNumber="3" points="-60" regardsEveryCard="true">
            <type>
                <item>queen</item>
            </type>
        </rule>
        <rule roundNumber="4" points="-30" regardsEveryCard="true">
            <type>
                <item>jack</item>
                <item>king</item>
            </type>
        </rule>
        <rule roundNumber="5" points="-150" color="hearts" regardsEveryCard="true">
            <type>
                <item>king</item>
            </type>
        </rule>
        <rule roundNumber="6" points="-75">
            <lewas>
                <item>7</item>
                <item>13</item>
            </lewas>
        </rule>
    </rules>
</config>
